<title>Movie Plat</title>
{% extends '../common/base.html' %}
{% load mathfilters %}

{% block body %}

<body>
    {% block content %}
        <div class="container">
            <div class="title_text">당신만을 위한 특별한 영화</div>
            <div class="sub_text" >선택한 장르의 관련 영화들을 모두 불러옵니다.</div>
        </div>
        {% for item in items %}
        <div class="imgDiv">
            <!-- data- : 특정 데이터를 DOM요소에 저장해두기 위한 목적, 특정한 데이터를 저장하고 싶은 경우 사용 -->
            <!-- 이미지 클릭 시 onclick 속성 사용해서 id값 보내는 함수 만들기, id값으로 detail 띄워주기 -->
            <img src="http://image.tmdb.org{{ item.poster_path }}" data-id="{{ item.movie_id }}" style="width:300px;height:400px;float:left;">
            <script src="../../static/recommend/recommend.js"></script>
        </div>
        {% endfor %}
    {% endblock %}
</body>
</html>
{% endblock %}