{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Movie Plat</title>
    <link rel="stylesheet" href="../../static/common/menu_style.css">
    <link rel="stylesheet" href="../../static/search/search.css">
    <link rel="stylesheet" href="../../static/movie/recommand.css">
    <script src="../../static/search/search.js"></script>

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/hiphop5782/score@0.0.2/score.js"></script>
    <script>
        $(function(){
            $(".test-score1").score();
            $(".test-score2").score({
                editable:true,
                display:{
                    showNumber:true,
                    placeLimit:2
                }
            });
            $(".test-score3").score({
                editable:true,
                integerOnly:true,
                display:{
                    showNumber:true
                }
            });
        });
    </script>
</head>


<body style="background-color:#232323">
    {% block content %}
        <div class="wrapper">
            <header>
                <a href="{% url 'movie:movie' %}"><h1 id="title" style="margin-top:17px; font-size:xx-large; font-weight: bold;">Movie Plat</h1></a>
                <a href="{% url 'movie:recommand' %}"><h1 style="margin-top:30px; font-size:medium; font-weight: bold;">Recommand</h1></a>
                
                <nav>
                    <ul class="menu">
                        <li>
                            <div>
                                <form action="{% url 'searchapi:search_api' %}" method="GET" name="searchform" id="sf">
                                    <input type="text" id="search1" name="q" placeholder="Search for something..." style="font-size:small; margin-top: 25px;" required >
                                    <input type="submit" id="search2" value="Search" style="margin-top: 25px;">
                                </form>
                            </div>
                        </li>
                    
                        <li><a href="{% url 'user:logout' %}"  style="margin-top: 25px;">logout</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="container">
            <div class="title_text">당신만을 위한 특별한 영화</div>
            <div class="sub_text" >선택한 장르의 관련 영화들을 모두 불러옵니다.</div>

            <!-- <div> -->
                <!-- <ul class="recommand_movie">
                </ul> -->
            <!-- </div> -->
        </div>
        <div style="text-align: center;">
            {% for movie_info in user_movieId %}
                <li class="poster">
                    <label> <img src="{{movie_info.poster_path}}"></label><br>
                    <div class="poster_title" style="color: white; text-align: center; ">{{movie_info.title | truncatechars:10}}</div>
                    <div class="test-score1" data-max="5" data-rate="{{ movie_info.vote_average|div:2 }}" style="font-size: x-small;"><b>&nbsp;{{ movie_info.vote_average }}&nbsp;&nbsp;&nbsp;</b></div><br>
                </li>
            {% endfor %}
        </div>
    {% endblock %}    
</body>
</html>