/* body에 font-size 넣으면 메뉴바css도 바뀌니 넣지말기*/
body{ 
    background-color: #232323;
    background-attachment: fixed; 
    padding-top: 75px;
    margin: 0; 
}

section{
    font-family: 'Gothic A1', sans-serif;
    font-size: small;
    color:white;
} 

/* section 안 div 전체 */
#sec{
    width:200px;
    height:280px;
    border:1px solid #232323;
    float:left;
    padding:0.5%; 
    margin:1%; 
    margin-bottom: 2%;
}

/* 이미지 - 상세 박스 */
.imgBoxDiv{
    border-radius: 15px;
    border:1px solid #232323;
    float:left;
    width:100%;
    height:100%;
    margin:2.5%; 
    position:relative;
    cursor: pointer;
    overflow: hidden; 
}

/* 이미지 박스 */
.imgDiv{
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1;
    -webkit-transition:all .5s ease;
    transition:all .5s ease;
    bottom: 0px;
    overflow: hidden;
}

/* 마우스 올리면 이미지가 ??px 올라감 */
.imgBoxDiv:hover .imgDiv{
    bottom: 250px;
}

.imgDescDiv{
    width: 100%;
    height: 250px;
    color: #FFFFFF;
    background-color:rgb(22, 22, 22);
    position:absolute;
    bottom: 0px;
    overflow: hidden; 
    text-overflow: ellipsis;
}

/* 제목 - 평점 박스 */
.titleBox{
    border:1px solid #232323;
    width:100%;
    height:100%;
    text-align: center;
}

/* 평점 */
#starBox{
    padding-top: 5px;
}

#naverlink{
    text-align: center;
}

#search_div1{
    line-height: 45px;
    text-align: center ;
}

#search_div2{
    line-height: 25px;
}

#pagenavi {
    font-size: larger;
}