@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    min-height: 100vh;

    background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#000000));
    background: -webkit-linear-gradient(bottom left, #000000 0%, #000000 100%);
    background: -moz-linear-gradient(bottom left, #000000 0%, #000000 100%);
    background: -o-linear-gradient(bottom left, #000000 0%, #000000 100%);
    background: linear-gradient(to top right, #000000 0%, #000000 100%);
}

.input-form {
    max-width: 680px;
    color: #000000;
    margin-top: 80px;
    padding: 32px;

    background: #000000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(255, 170, 170, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

p {
    color: #868080;
    font-family: 'Gothic A1', sans-serif;
}

#name {
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

#invalid-feedback {
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

#email{
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

#h4 {
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

#join_btn {
    background-color: #232323;
    border-style: solid;
    border-color: #232323;
    font-weight: bold;
    font-family: 'Gothic A1', sans-serif;
}

font{
    font-family: 'Gothic A1', sans-serif;
}

#username {
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

#password1 {
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

#password2 {
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

#join_btn:hover {
    background-color: #E6E9ED;
    font-weight : bold;
    color:black;

    border : 1px solid black;
}
