<!DOCTYPE html>
<html lang="en">
<head>
    <div class="container mt-3"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Search</title>
        <link rel="stylesheet" href="../../static/user/search.css">
        <link rel="stylesheet" href="../../static/common/menu_style.css">
        <script src="../../static/user/search.js">

        function checkForm() {
            var sub = document.getElementById("search1");
            // 아이디 입력 유무 체크
            if(sub.length == 0) {
                // window.alert("검색어를 입력해주세요");
                // document.sf.search1.focus();
                // document.getElementById('sub').select();
                alert("검색어를 입력해주세요.")
                
                return false; // 입력이 안되어 있다면 submin 이벤트를 중지
            }
        }
        </script>
    </div>
</head>
<body>
    <div class="wrapper">
        <header>
            <!-- platform 글자 누르면 메인페이지 이동 기능 추가 -->
            <h1 id="title">Movie Plat</h1>
            <nav>
                <ul class="menu">
                    <li>
                        <div>
                            <form action="{% url 'searchapi:search_api' %}" method="GET" name="searchform" id="sf" onsubmit="return checkForm()">
                                <input type="text" id="search1" name="q" placeholder="Search for something..." required>
                                <input type="submit" id="search2" value="Search" > 
                            </form>
                        </div>
                    </li>
                    <li><a href="{% url 'user:login' %}">login</a></li>
                    <li><a href="{% url 'user:signup' %}">Sign Up</a></li>
                </ul>
            </nav>
        </header> 
    </div>
    <div>
        <section>
            <div>
                {% for item in items %}
                <!-- <p>{{ forloop.counter }}</p> -->
                    <div class="imgBoxDiv">
                        <div class="imgDiv">
                            <img src="{{item.image}}" width="100%" height="100%" onerror="this.src='https://images.christiandaily.co.kr/data/images/full/68175/image.jpg?w=600';"></a><br>  
                        </div>
                        <div class="imgDescDiv">
                            <br>
                            <p id="title">&nbsp;&nbsp;<b>제목 : </b>{{ item.title|safe }}</p><br>
                            <p>&nbsp;&nbsp;<b>제작연도</b> : {{ item.pubdate|default_if_none:"없음" }}</p> <br>
                            <p>&nbsp;&nbsp;<b>감독</b> : {{ item.director }}</p><br>
                            <p>&nbsp;&nbsp;<b>배우</b> : {{ item.actor }} </p><br>
                            <p>&nbsp;&nbsp;<b>평점</b> : {{ item.userRating }}</p><br>    
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</body>
</html>