<title>Movie Plat</title>

{% extends '../common/base.html' %}
{% load mathfilters %}

{% block body %}
<head>
    <div class="container mt-3"></div>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- 메뉴바  crossorigin="anonymous" -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z crossorigin="anonymous">
        <link rel="stylesheet" href="../../static/search/search.css">
        <script src="../../static/search/search.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hiphop5782/score@0.0.2/score.js"></script>
        <script>
            $(function(){
                $(".test-score1").score();
                $(".test-score2").score({
                    editable:true,
                    display:{
                        showNumber:true,
                        placeLimit:2
                    }
                });
                $(".test-score3").score({
                    editable:true,
                    integerOnly:true,
                    display:{
                        showNumber:true
                    }
                });
            });
        </script>
    </div>
</head>
<body>
    <section>
        {% for item in items %}
        <div id="sec">
            <div class="imgBoxDiv">
                <div class="imgDiv">
                    <img src="{{item.image}}" width="100%" height="100%" onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3_b_ecoVCDDLOx1mRizf7lm5WseIbdsH9ew&usqp=CAU';"></a><br>  
                </div>
                
                <div class="imgDescDiv">
                    <br>
                    <!-- <p>&nbsp;&nbsp;<b>제목 : </b>{{ item.title|safe }}</p><br> -->
                    <p>&nbsp;&nbsp;<b>제작연도</b> : {{ item.pubDate }}년</p> <br>
                    <p>&nbsp;&nbsp;<b>감독</b> : {{ item.director }}</p><br>
                    <p>&nbsp;&nbsp;<b>배우</b> : {{ item.actor }} </p><br>
                    <!-- <p>&nbsp;&nbsp;<b>평점</b> : {{ item.userRating }}</p><br>  -->
                    <p id="naverlink"><a href="{{item.link}}"><b>더보기</b></a></p>
                </div>
            </div>

            <div class="titleBox">
                <!-- |truncatechars:15 -->
                <p>{{ item.title|safe }}</p>
                <div class="test-score1" id="starBox" data-max="5" data-rate="{{ item.userRating|div:2 }}">
                    <b>&nbsp;{{ item.userRating }}&nbsp;&nbsp;&nbsp;</b>
                </div>
                <br>
            </div>
        </div>
        {% endfor %}
    </section>
</body>
{% endblock %}