<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Plat</title>
    <link rel="stylesheet" href="../../static/common/home.css">
    <link rel="stylesheet" href="../../static/search/search.css">
    <link rel="stylesheet" href="../../static/common/menu_style.css">
    <script src="../../static/user/home.js"></script>
</head>
<header>
    <a href="{% url 'home' %}"><h1 id="title">Movie Plat</h1></a>
    <nav>
        <ul class="menu">
            <li>
                <div>
                    <form action="{% url 'searchapi:search_api' %}" method="GET" name="searchform">
                        <input type="text" id="search1" name="q" placeholder="Search for something..." required>
                        <input type="submit" id="search2" value="Search" > 
                    </form>
                </div>
            </li>
            <li><a href="{% url 'user:login' %}">login</a></li>
            <li><a href="{% url 'user:signup' %}">Sign Up</a></li>
        </ul>
    </nav>
</header> 
<body>
</body>
</html>
