<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Plat</title>
    <link rel="stylesheet" href="../../static/common/home.css">
    <link rel="stylesheet" href="../../static/common/menu_style.css">
    <script src="../../static/user/home.js"></script>
</head>
<header>
    <a href="{% url 'home' %}"><h1 id="title">Movie Plat</h1></a>
    <nav>
        <ul class="menu">
            <li>
                <div>
                    <form action="{% url 'searchapi:search_api' %}" method="GET" name="searchform" id="sf" onsubmit="return checkForm()">
                        <input type="text" id="search1" name="q" placeholder="Search for something..." required>
                        <input type="submit" id="search2" value="Search" > 
                    </form>
                </div>
            </li>
            <li><a href="{% url 'user:login' %}">login</a></li>
            <li><a href="{% url 'user:signup' %}">Sign Up</a></li>
        </ul>
    </nav>
</header> 
<body>
    <section>
        <br>
        <h2>&nbsp;&nbsp;&nbsp;실시간 인기 컨텐츠</h2>
        
        <div class="main">
            <div class="slider">
                {% for movie_data in obj %}
                <img src = "https://image.tmdb.org/t/p/w500/{{movie_data.poster_path}}">
                {% endfor %}
            </div>
            <!-- <img src = "https://image.tmdb.org/t/p/w500/{{movie_data.backdrop_path}}"><br/> -->
            <!-- <div class="imgDescDiv"> -->
                <!-- {{movie_data.title}}<br/> -->
                <!-- {{movie_data.overview}}<br/>
                {{movie_data.adult}}<br/>
                {{movie_data.genres}}<br/>
                {{movie_data.id}}<br>  -->
            <!-- </div> -->
            <!-- <p class="controls">
                <span class="prev">prev</span>
                <span class="next">next</span>
            </p> -->
        </div>
</body>
</html>
