<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플랫폼에 오신걸 환영합니다.</title>
    <link rel="stylesheet" href="../../static/common/home.css">
    <link rel="stylesheet" href="../../static/user/search.css">
    <link rel="stylesheet" href="../../static/common/menu_style.css">
    <script src="../../static/user/search.js"></script>
</head>
<header>
    <a href="{% url 'home' %}"><h1 id="title">Movie Plat</h1></a>
    <nav>
        <ul class="menu">
            <li>
                <div>
                    <form action="{% url 'searchapi:search_api' %}" method="GET" name="searchform" id="sf" onsubmit="return checkForm()">
                        <input type="text" id="search1" name="q" placeholder="Search for something..." required>
                        <input type="submit" id="search2" value="Search" > 
                    </form>
                </div>
            </li>
            <li><a href="{% url 'user:login' %}">login</a></li>
            <li><a href="{% url 'user:signup' %}">Sign Up</a></li>
        </ul>
    </nav>
</header> 
<body>
    <section>
        <br>
        <h2>&nbsp;&nbsp;&nbsp;실시간 인기 컨텐츠</h2>
            <div id="sec">
                <div class="imgBoxDiv">
                    <div class="imgDiv">
                        <p><img src="https://images.christiandaily.co.kr/data/images/full/68175/image.jpg?w=600" width="100%" height="100%;"></p>
                    </div>
                </div> 
                <div class="titleBox">
                    <p>{{ item.title|safe }}</p><br>
                </div> 
            </div>
    </section>
    <section>
        <h2>&nbsp;&nbsp;&nbsp;취향에 맞는 컨텐츠</h2>
            <div id="sec">
                <div class="imgBoxDiv">
                    <div class="imgDiv">
                        <p><img src="https://images.christiandaily.co.kr/data/images/full/68175/image.jpg?w=600" width="100%" height="100%;"></p>
                    </div>
                </div> 
                <div class="titleBox">
                    <p>{{ item.title|safe }}</p><br>
                </div> 
            </div>
    </section>
    <section>
        <h2>&nbsp;&nbsp;&nbsp;액션</h2>
            <div id="sec">
                <div class="imgBoxDiv">
                    <div class="imgDiv">
                        <p><img src="https://images.christiandaily.co.kr/data/images/full/68175/image.jpg?w=600" width="100%" height="100%;"></p>
                    </div>
                </div> 
                <div class="titleBox">
                    <p>{{ item.title|safe }}</p><br>
                </div> 
            </div>
    </section>
    <section>
        <h2>&nbsp;&nbsp;&nbsp;범죄 스릴러</h2>
        <div id="sec">
            <div class="imgBoxDiv">
                <div class="imgDiv">
                    <p><img src="https://images.christiandaily.co.kr/data/images/full/68175/image.jpg?w=600" width="100%" height="100%;"></p>
                </div>
            </div> 
            <div class="titleBox">
                <p>{{ item.title|safe }}</p><br>
            </div> 
        </div>
    </section>
    <section>
        <h2>&nbsp;&nbsp;&nbsp;SF</h2>
        <div id="sec">
            <div class="imgBoxDiv">
                <div class="imgDiv">
                    <p><img src="https://images.christiandaily.co.kr/data/images/full/68175/image.jpg?w=600" width="100%" height="100%;"></p>
                </div>
            </div> 
            <div class="titleBox">
                <p>{{ item.title|safe }}</p><br>
            </div> 
        </div>
    </section>
    <section>
        <h2>&nbsp;&nbsp;&nbsp;드라마</h2>
        <div id="sec">
            <div class="imgBoxDiv">
                <div class="imgDiv">
                    <p><img src="https://images.christiandaily.co.kr/data/images/full/68175/image.jpg?w=600" width="100%" height="100%;"></p>
                </div>
            </div> 
            <div class="titleBox">
                <p>{{ item.title|safe }}</p><br>
            </div> 
        </div>
    </section>
</body>
</html>
