@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

.claerpix {
    content: '';
    display: block;
    clear: both;
}

.menuBar {
    width: 1400px;
    margin: 0 auto;
}

header {
    height: 75px;
    padding: 0;
    background: rgb(12, 12, 12);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body{
    background-color: rgb(12, 12, 12);
    padding-top: 75px;
    margin: 0;
}

#search_div1{
    line-height: 150px;
    /* text-align: center ; */
    /* 텍스트 가운데 정렬 */
}
#search_div2{
    line-height: 25px;
    /* text-align: center ; */
}

font{
    font-family: 'Noto Sans KR', sans-serif;
}

.frm1 {
    float: right;
}

.menu_h1 {
    color:white;
    line-height: 30px;
    float: left;
}

.menu {float:right;}

.menu_li {
    float:right;
}

.menu_a {
    text-decoration: none;
    float:right;
}

a {text-decoration: none;
    color: rgb(100,240,80);}
a:visited {text-decoration: none; }
a:hover {text-decoration: none; }
a:focus {text-decoration: none; }
a:hover, a:active {text-decoration: none;}

.p1 {
    color: white;
}

