/* reset */
*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none;}

/* common */
.wrapper{width: 1400px; margin: 0 auto;}
.claerpix{content: ''; display: block; clear: both;}

/* header */
header{height: 75px; background-color: rgba(12,12,12,0.9);
    border: 1px solid; position: fixed; width: 100%; z-index: 9999; top: 0px; left: 0px;}
h1{color:white; line-height: 75px; float: left;}
.menu {float:right;}
.menu li{float:left;}
.menu a{line-height: 75px; color:white; padding: 0 15px; display: block;}


