<link rel="stylesheet" href="../../static/common/menu_style.css">

<div class="wrapper">
    <header>
        <a href="{% url 'movie:movie' %}"><h1 id="title" style="margin-top:17px; font-size:xx-large; font-weight: bold;">Movie Plat</h1></a>
        <a href="{% url 'movie:movie' %}"><h1 style="margin-top:30px; font-size:medium; font-weight: bold;">Movie</main></h1></a>
        <a href="{% url 'movie:tvshow' %}"><h1 style="margin-top:30px; font-size:medium; font-weight: bold;">TV Show</h1></a>
        <a href="{% url 'movie:recommend' %}"><h1 style="margin-top:30px; font-size:medium; font-weight: bold;">Recommend</h1></a>
        <a href="{% url 'movie:allmovies' %}"><h1 style="margin-top:30px; font-size:medium; font-weight: bold;">On Streaming</h1></a>
        <nav>
            <input type="button" onclick="darksun()" value="🌞" style="border: none; background: transparent;">
            <ul class="menu">
                <li>
                    <div>
                        <form action="{% url 'searchapi:search_api' %}" method="GET" name="searchform" id="sf">
                            <input type="text" id="search1" name="q" placeholder="검색어를 입력하세요" style="font-size:small; margin-bottom: 25px; text-align: center;" required >
                            <button type="submit" id="search2" value="Search" style="width: 30px;border: none; background: transparent;"><img src="../../static/img/reading_glasses.png" style="width: 30px;"></button>
                    </div>
                </li>
                <li>
                    {% if user.is_authenticated %}
                    {# 로그인한 경우 #}
                        <li style="margin-top: 25px;"><a href="{% url 'user:profile' %}">Profile</a></li>                    
                        <li style="margin-top: 25px;"><a href="{% url 'user:logout' %}">Logout</a></li>
                    {% endif %}
                </li>
            </ul>
        </nav>
    <!-- 다크모드 버튼 -->
    <script>
    // night
        function darksun() {
            if (this.value === '🌛'){
            document.querySelector('body').style.backgroundColor = '#232323';
            document.querySelector('body').style.color='white';
            document.querySelector('header').style.backgroundColor='black';
            document.querySelector('header').style.color='white';
            
            /*var list1 = document.querySelectorAll('button');
                var i = 0;
                while(i < list1.length){
                    list1[i].style.backgroundColor='white'
                    list1[i].style.color='black';
                    i++;
                }*/

            var list2 = document.querySelectorAll('a');
                var i = 0;
                while(i < list2.length){
                    list2[i].style.color = 'white';
                    list2[i].style.backgroundColor='black';
                    i++;
                }
            var list3 = document.querySelectorAll('h2');
                var i = 0;
                while(i < list3.length){
                    list3[i].style.color = 'white';
                    i++;
                }
            var list4 = document.querySelectorAll('h1');
                var i = 0;
                while(i < list4.length){
                    list4[i].style.color = 'white';
                    list4[i].style.backgroundColor='black';
                    i++;
                }
            this.value='🌞';
        } 
        /* day */
        else {
            document.querySelector('body').style.backgroundColor = 'white';
            document.querySelector('body').style.color='black';
            document.querySelector('header').style.backgroundColor='white';
            document.querySelector('header').style.color='black';
            
        
        /*var list1 = document.querySelectorAll('button');
                var i = 0;
                while(i < list1.length){
                    list1[i].style.backgroundColor='white';
                    list1[i].style.color='black';
                    i++;
                }*/
                
            var list2 = document.querySelectorAll('a');
                var i = 0;
                while(i < list2.length){
                    list2[i].style.color = 'black';
                    list2[i].style.backgroundColor='white';
                    i++;
                }

            var list3 = document.querySelectorAll('h2');
                var i = 0;
                while(i < list3.length){
                    list3[i].style.color = 'black';
                    i++;
                }
            var list4 = document.querySelectorAll('h1');
                var i = 0;
                while(i < list4.length){
                    list4[i].style.color = 'black';
                    list4[i].style.backgroundColor='white';
                    i++;
                }
            this.value='🌛';

        } }
    </script>
    </header>
</div>