@import url('hcarouselttps://fonts.googleapis.com/css2?family=Gothic+A1:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
    height: 100vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

.sec {
    text-align: center;
}

.carousel {
    height: 350px;
    width: 1450px;
    position: relative;
}

.carousel .switchLeft ,
.carousel .switchRight {
    color:white;
    font-weight: bold;
    height: 300px;
    width: 45px;
    line-height: 350px;
    font-size: 25px;
    text-align: center;
    background: #232323;
    font-family: 'Gothic A1', sans-serif;
    top:0;
    z-index: 3;
}

.carousel .switchLeft {
    position:absolute;
    left: -20px;
}

.carousel .switchRight {
    position:absolute;
    right: -20px;
}

.carouselbox {
    height :350px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px !important;
    display:flex;
    align-items: center;
}

.carouselbox img {
    border-radius: 5%;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

.carouselbox img:hover {
    transform: scale(1.2);
    z-index: 5;
    border-radius: 10%;

} 

.carousel2 {
    height: 350px;
    width: 1450px;
    position: relative;
}

.carousel2 .switchLeft ,
.carousel2 .switchRight {
    color:white;
    font-weight: bold;
    height: 300px;
    width: 45px;
    line-height: 350px;
    font-size: 25px;
    text-align: center;
    background: #232323;
    font-family: 'Gothic A1', sans-serif;
    top:0;
    z-index: 3;
}

.carousel2 .switchLeft {
    position:absolute;
    left: -20px;
}

.carousel2 .switchRight {
    position:absolute;
    right: -20px;
}

.carouselbox2 {
    height :350px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px !important;
    display:flex;
    align-items: center;
}

.carouselbox2 img {
    border-radius: 5%;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

.carouselbox2 img:hover {
    transform: scale(1.2);
    z-index: 5;
    border-radius: 10%;
} 


.carousel3 {
    height: 350px;
    width: 1450px;
    position: relative;
}

.carousel3 .switchLeft ,
.carousel3 .switchRight {
    color:white;
    font-weight: bold;
    height: 300px;
    width: 45px;
    line-height: 350px;
    font-size: 25px;
    text-align: center;
    background: #232323;
    font-family: 'Gothic A1', sans-serif;
    top:0;
    z-index: 3;
}

.carousel3 .switchLeft {
    position:absolute;
    left: -20px;
}

.carousel3 .switchRight {
    position:absolute;
    right: -20px;
}

.carouselbox3 {
    height :350px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px !important;
    display:flex;
    align-items: center;
}

.carouselbox3 img {
    border-radius: 5%;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

.carouselbox3 img:hover {
    transform: scale(1.2);
    z-index: 5;
    border-radius: 10%;
} 

.carousel4 {
    height: 350px;
    width: 1450px;
    position: relative;
}

.carousel4 .switchLeft ,
.carousel4 .switchRight {
    color:white;
    font-weight: bold;
    height: 300px;
    width: 45px;
    line-height: 350px;
    font-size: 25px;
    text-align: center;
    background: #232323;
    font-family: 'Gothic A1', sans-serif;
    top:0;
    z-index: 3;
}

.carousel4 .switchLeft {
    position:absolute;
    left: -20px;
}

.carousel4 .switchRight {
    position:absolute;
    right: -20px;
}

.carouselbox4 {
    height :350px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px !important;
    display:flex;
    align-items: center;
}

.carouselbox4 img {
    border-radius: 5%;
    height: 300px;
    width: 350px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

.carouselbox4 img:hover {
    transform: scale(1.2);
    z-index: 5;
    border-radius: 10%;
} 

.carousel5 {
    height: 350px;
    width: 1450px;
    position: relative;
}

.carousel5 .switchLeft ,
.carousel5 .switchRight {
    color:white;
    font-weight: bold;
    height: 300px;
    width: 45px;
    line-height: 350px;
    font-size: 25px;
    text-align: center;
    background: #232323;
    font-family: 'Gothic A1', sans-serif;
    top:0;
    z-index: 3;
}

.carousel5 .switchLeft {
    position:absolute;
    left: -20px;
}

.carousel5 .switchRight {
    position:absolute;
    right: -20px;
}

.carouselbox5 {
    height :350px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding: 10px !important;
    display:flex;
    align-items: center;
}

.carouselbox5 img {
    border-radius: 5%;
    height: 300px;
    width: 300px;
    background-size: cover;
    background-color: lightgreen;
    margin: 5px 10px;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 2;
}

.carouselbox5 img:hover {
    transform: scale(1.2);
    z-index: 5;
    border-radius: 10%;
} 

#modal {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 13%;
    left: 13%;
    color: white;
    font-family: 'Gothic A1', sans-serif;
}

#modalimg {
    position: relative;
    text-align: center;
    float: left; 
    width:450px; 
    height:600px;
    background-color: black;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}
#modalright {
    width:660px; 
    height:600px;
    background-color: black;
    float: left; 
    padding-right: 50px;
    border-top-right-radius: 5%; 
    border-end-end-radius: 5%;
}

#modaltext {
    position: relative;
}

a.hover {
    text-decoration: none;
    color: white;
}

