<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>로그인</h1>
    <h2> ㅇwㅇ (다빈)</h2>
    <h2> ㅇ0ㅇ (도겸)</h2>
    <h2> ㅇ3ㅇ (아름)</h2>
    <h3> 다빈씨의 요청으로 네이버 로그인 API가 되었습니다. 빠밤(도겸)</h3>
    <div class="row">
        <div class="col-4">
            <h4>로그인</h4>
        </div>
        <div class="col-8 text-right">
            <a href="{% url 'user:signup' %}">계정을 만드세요</a>
        </div>
    </div>
</body>
</html>