<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>Platform</title>
{% load static %}
<link rel="stylesheet" href="../../static/user/login.css">
<!-- 구글 폰트 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
  <!-- partial:index.partial.html -->
  <div class="container">
    <div class="bullets">
      <span class="active"></span>
      <span></span>
      <span></span>
    </div>
  
    <div class="form">
      <!-- 로그인 폼 타이틀 문구 -->
      <div class="title"> 
        <a id="title_name"  style="width: 800px;"> movie plat </a>
        <!-- <img src="../../static/img/movieplate.PNG" style="width: 400px;"> -->
      </div>
  
      <form id="loginForm" method="post">
        {% csrf_token %}
        <!-- 이메일을 입력받는 부분 -->
        <div class="row visible">
          <input name="username" type="text" placeholder="이메일을 입력해주세요." />
          <div class="fa fa-user"></div>
          <div class="nextBtn"><i class="fa fa-chevron-right"></i></div>
        </div>
        
        <!-- 비밀번호를 입력받는 부분 -->
        <div class="row lastField">
          <input name="password" type="password" placeholder="비밀번호를 입력해주세요." />
          <div class="fa fa-key"></div>
          <div class="nextBtn"><i class="fa fa-chevron-right" onclick="formCheck();"></i></div>
        </div>
      </form>
      <div>
  </div>
</div>
  
  <!-- 이거 위치 바꾸면 안넘어감 ... -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
  <script  src="../../static/user/login.js"></script>
    
</body>
</html>
