
{% load static %}
{% block summernote %}
<!-- CheckBoxCSS -->
<link rel="stylesheet" href="{% static 'css/users/checkbox.css' %}" type="text/css"> 
{% endblock %}

{% block body %}
<body style="background-color: black;">
<div class="container" style="text-align: center; background-color: #606060;
    margin-left: 350px; margin-right: 350px; margin-top: 180px; padding-top: 1px; padding-bottom: 60px;">
    <div style="margin-top: 5rem !important;">
        <div class="col-12">

            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-header" style="padding-bottom:8px;">
                        <strong style="font-size: 18px; color: white;"><i class="fas fa-user-slash"></i>정말 떠나실 건가요?</strong>
                    </div>
                    <div class="card-body">
                        <form method="POST" novalidate>
                            {% csrf_token %}
                            <p style="color: white;">웹사이트에서 {{ user.username }}님의 계정이 삭제됩니다.<br>탈퇴시 개인정보 및 이용정보가 삭제되며 복구할 수 없습니다. <br>본인의 비밀번호를 입력한 후 하단의 유의사항 동의에 체크하세요.</p>
                            <div class="mb-4 md-form">
                                <label name="label_password" for="{{ password_form.password.id_for_label }}"><i
                                        class="fas fa-lock"></i>&nbsp;&nbsp;{{ password_form.password.label }}</label>
                                {{ password_form.password }}
                                {% if password_form.password.errors %}
                                <script type="text/javascript">
                                    document.getElementsByName('password')[0].setAttribute('class',
                                        'form-control is-invalid')
                                </script>
                                {% for error in password_form.password.errors %}
                                <div class="invalid-feedback" style="margin-bottom:-10px;">
                                    {{ error }}
                                </div>
                                {% endfor %}
                                {% endif %}
                                <br>
                                <small style="color:white; margin-left: 4px; margin-top:8px; margin-bottom: 30px;" class="form-text text-muted">
                                    본인인증을 위해 비밀번호를 입력해주세요.
                                </small>
                            </div>
                            <br>

                            <label>
                                <input type="checkbox" name="ck" onClick="checkDisable(this.form)">
                                <span style="color:#d14040f2; font-weight: bold;">유의사항 동의</span>
                            </label>
                            <!-- <input class="btn btn-danger" type="submit" name="bt" value="탈퇴하기" disabled="true" /> -->
                                
                            <div style="margin-bottom:-15px;">
                                <br><a onclick="location.href='/user/profile/'" class="btn btn-sm" id="back_btn"><i class="fa fa-reply"></i>&nbsp;돌아가기</a><br><br>
                                <button type="submit" class="btn btn-sm" name="bt" id="detail_btn" disabled="true" ><i class="fas fa-check"></i>&nbsp;탈퇴하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function checkDisable(form) {
        if (form.ck.checked == true) {
            form.bt.disabled = false;
        } else {
            form.bt.disabled = true;
        }
    }
</script>

{% endblock %}